<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 1 | HTML-CSS</title>
    <style>
        img{ float: left;}
        ul { list-style: none;}
        ul li{float: left; margin: 0 10px;}
    </style>
</head>
<body>
<img src="/02 CSS/images/html_img.png" alt="">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, quod, reprehenderit, laudantium cum iure tempore doloremque provident voluptatem ut tempora alias! Molestiae nisi molestias corrupti consectetur voluptate eius deserunt maxime?
    </p>
<ul>
    <li>home</li>
    <li>about</li>
    <li>course</li>
    <li>services</li>
    <li>contact</li>
</ul>
    
</body>
</html>